footer {
    width: 100%; // Ensure footer spans the entire width of the page
    background-color: var(--color-dark); // Set dark background for the entire footer

    .container{
        padding: 10px 0; 
        width: 100%;
        background-color: var(--color-dark);
    }


}